@charset "utf-8";

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #f7f7f7;
    line-height: 1.6;
}

header {
    background-color: #111;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #333;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #222;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #c62828;
}

.container {
    padding: 40px;
    background-color: #111;
    border-radius: 10px;
    max-width: 800px;
    margin: 60px auto 80px auto;
    text-align: left;
}

.container h2 {
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    position: relative;
    padding: 0 20px;
}

.grid-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: white;
    transform: translateX(-50%);
    z-index: 1;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}


.container {
    margin-bottom: 30px;
}

.container h2 {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #c62828;
    margin-bottom: 5px;
    margin-left: 25px;
}

.container td {
    font-family: 'Georgia', serif;
    font-size: 16px;
    color: #f7f7f7;
    margin: 0;
}

.container .description {
    font-size: 14px;
    color: #aaa;
    margin-top: 5px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px;
    border-bottom: 4px solid #aaa;
}

th, td {
    padding: 10px;
    text-align: left;
}
        
th {
font-size: 24px;
}
        
td {
    font-size: 18px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 2rem;
    }

    .container {
        padding: 20px;
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 3.5rem;
    }

    .container {
        padding: 60px;
    }
}